:root {
  --text-color: black;
  --background-color: rgb(250, 116, 0);
}

* {
  margin: 0px;
  padding: 0px;
}

/* common css which used every where starts here */
.custom-section-heading {
  font-size: 35px;
  font-weight: 500;
}
.custom-color-style {
  color: var(--background-color);
}
/* common css which used every where ends here */

/* banner section css starts here */

.banner .custom-banner {
  background-image: url("./Images/neonbrand-zFSo6bnZJTw-unsplash.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-color: var(--background-color);
}
.banner .custom-banner .container {
  top: 135px;
}
.banner .custom-heading {
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.banner .custom-subtitle {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

/* banner section css ends here */

/* courses css starts here */

/* courses css ends here */
